---
import BaseLayout from "../../layouts/Layout.astro";
import BlogList from "../../components/BlogList.astro";
import {getCollection} from "astro:content";

const posts = await getCollection("blog");

posts.sort((a, b) => b.data.date.getTime() - a.data.date.getTime());
---

<BaseLayout title="Some bolgs? or blogs?">
    <h2>Bolg</h2>

    <BlogList/>

</BaseLayout>


<style>

    a:link,
    a:visited,
    a:active {
        text-decoration: none;
        color: #2563eb;
    }

    a:hover {
        text-decoration: underline;
    }

</style>