---
import BaseLayout from "../layouts/Layout.astro";
---

<BaseLayout title="A place">
  <h2>Welcome</h2>
  <p>This is my personal blog.</p>
  <p>I write about programming, projects, and learning notes.</p>
  <p>hi</p>
</BaseLayout>